<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="configFragment">
	<!-- Css Styles -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/chatstyle.css}" />
	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon" />
	<link th:href="@{/img/favicon.png}" rel="apple-touch-icon" />
	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery.nicescroll.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/js/jquery.slicknav.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
<!--	<script th:src="@{/js/chat.js}"></script>-->
	<script th:src="@{/js/addCsrfTokenToAjaxRequest.js}"></script>
</th:block>

</html>