<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<th:block layout:fragment="content">

	<head>
		<title>포케포케 : 비밀번호 확인</title>
		<link rel="stylesheet" th:href="@{/css/join.css}" type="text/css">
	</head>

	<span>
		<div class="loginbody text-center">
			<main class="form-signin w-100 m-auto">
				<form class="check_password_form" onsubmit="return false">
					<!-- CSRF 토큰을 포함시키는 부분 -->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="section-title">
						<h2>비밀번호 확인</h2>
						<div class="breadcrumb__links">
							<p>등록한 비밀번호를 재입력 해주세요.</p>
						</div>
					</div>
					<div class="checkout__input">
						<input type="password" class="checkout__input" id="floatingPassword" name="memberPw"
							placeholder="비밀번호 입력" style="color:#000;" required />
						<span class="id_input_re_2">비밀번호를 입력해주세요.</span>
						<span class="pwck_input_re_2">비밀번호가 일치하지 않습니다.</span>
						<label for="floatingInput"></label>
					</div>
					<button class="goodbtn" id="submit" type="submit">확인</button>
					<div class="centerplz">
						<div class="product__details__btns__option">
							<p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
						</div>
					</div>
				</form>
			</main>
		</div>

		<script>
			/* 유효성 검사 통과유무 변수 */
			var pwck = false;

			$(document).ready(function () {
				//회원가입 버튼(회원가입 기능 작동)
				$('#submit').click(function () {
					var memberId = '[[${#authentication.principal.username}]]';
					var memberPw = $('#floatingPassword').val(); // 비밀번호 입력란
					var data = {
						memberId: memberId, // memberId 값을 추가
						memberPw: memberPw // 비밀번호 값을 추가
					};

					/* 비밀번호 유효성검사 */
					if (pwck == false) {
						$('#floatingPassword').focus();
					} else {
						$.ajax({
							type: "POST",
							url: "/member/memberPwChk", // 서버의 Java 컨트롤러의 URL
							data: data,
							beforeSend: addCsrfTokenToAjaxRequest,
							success: function (result) {
								if (result == 'fail') {
									$('.pwck_input_re_2').css('display', 'block');
									$('#floatingPassword').focus();
								} else {
									// 로그인 메서드 서버 요청
									location.href = "edit";
								}
							} /* success 종료 */
						}); // ajax 종료
					}
				}); // 버튼 클릭 끝
			}); // 레디 끝

			$("#floatingPassword").on("input", function () {
				chkPW();
			}); // 함수 종료

			function chkPW() {
				var memberPw = $("#floatingPassword").val();

				if (memberPw != '') {
					$('.id_input_re_2').css('display', 'none');
					$('.pwck_input_re_2').css('display', 'none');
					pwck = true;
				} else {
					$('.id_input_re_2').css('display', 'block');
					$('.pwck_input_re_2').css('display', 'none');
					pwck = false;
				}
			} // chkPW()함수 끝

		</script>
		</body>

</html>