/* 중복아이디 */
/* 중복아이디 존재하지 않는경우 */
.id_input_re_1 {
	color: green;
	display: none;
}

/* 중복아이디 존재하는 경우 */
.id_input_re_2 {
	color: red;
	display: none;
	margin-top: -15px;
}

/* 아이디 확인 일치 유효성검사 */
.idck_input_re_1 {
	color: green;
	display: none;
	margin-top: -15px;
}

.idck_input_re_2 {
	color: red;
	display: none;
	margin-top: -15px;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 {
	color: green;
	display: none;
	margin-top: -15px;
}

.pwck_input_re_2 {
	color: red;
	display: none;
	margin-top: -15px;
}

.pwck_input_re_3 {
	color: red;
	display: none;
	margin-top: -15px;
}

/* 제발 가운데로 */
.centerplz {
	display: flex;
	justify-content: center;
}

.centerplz2 label {
	display: inline-block;
	margin-left: 20px;
}

/* 경고 문구 */
.text-danger {
	margin: -15px 0px 20px 5px;
	font-size: 14px;
	color: red;
}

.text-success {
	display: none;
}

.section_subway1 {
	margin: 0 auto;
	padding: 80px 0;
}

.section_subway1 .utilization1 {
	background: url(https://www.subway.co.kr/images/main/bg_utilization.png) 0 0 no-repeat;
	width: 400px;
	height: 300px;
	position: relative;
	margin-left: 55px;
	float: left;
}

.section_subway1 .utilization1 p {
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: -0.03em;
	position: absolute;
	left: 39px;
	top: 38px;
}

.utilization1 .btn1 {
	position: absolute;
	left: 41px;
	bottom: 42px;
	border: 2px solid #fff;
	border-radius: 20px;
	width: 92px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	transition-duration: 0.2s;
}

.section_subway1 .utilization1 .btn1 span {
	display: block;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	font-family: font_ns, sans-serif;
}

.section_subway1 .utilization1 .btn1 a {
	text-decoration: none;
}

.goodbtn {
	background-color: #469543;
	color: #fff;
	border-radius: 30px;
	padding: 10px 20px;
	border: none;
	margin: 0 auto;
}

.goodbtn[disabled] {
	background-color: #BDBDBD;
}

.notgoodbtn {
	background-color: #BDBDBD;
	color: #fff;
	border-radius: 30px;
	padding: 10px 20px;
	border: none;
	margin: 0 auto;
}

.goodstar {
	font-size: 15px;
	color: #f06923;
	position: absolute;
	top: -1px;
	right: -7px;
}

.goodgolbaeng {
	font-size: 15px;
	top: -1px;
	position: absolute;
	top: 29%;
	left: 49%;
}

.goodselect {
	width: 49%;
	height: 50px;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #b7b7b7;
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 20px;
	border-radius: 30px;
}

.loginbody {
	/*height: 700px;*/
	display: flex;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 400px;
	padding: 15px;
}

.circle-button {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.css-1qr6979 {
	margin: 0px 0px 15px;
	color: rgb(117, 117, 117);
	font-size: 12px;
	font-weight: normal;
	line-height: 1.33;
	text-align: center;
}

.locin-icon {
	margin-right: 25px;	
}


/* 토글 */
/* 결국못씀 */
/*
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
*/

/* Rounded sliders */
/*
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
*/